@import url("./home.css");
@import url("./profile.css");

.img-size {
  height: 31px;
}

.navbar {
  background-color: #247e3e !important;
}
.nav-link {
  color: #fff !important;
  font-weight: lighter !important;
}
.active {
  font-weight: bold !important;
}

.footer {
  height: 200px !important;
}
